<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d4193501-7753-4c41-8836-6b08420be2d1</ProjectGuid>
    <publishUrl>ftp://inventarios_aplicaciones.backup.somee.com/Inventarios_Aplicaciones_MSSql_Database_Backup</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath />
    <UserName>Rodmansito</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>FTP</_TargetId>
  </PropertyGroup>
</Project>