<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db537ed3-3c4e-4b47-b065-4d170c903fb4/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/InventaioAPI20240613085649</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <ApiResourceId>/subscriptions/db537ed3-3c4e-4b47-b065-4d170c903fb4/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/InventaioAPIapi/apis/InventaioAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://inventaioapi20240613085649.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d4193501-7753-4c41-8836-6b08420be2d1</ProjectGuid>
    <MSDeployServiceURL>inventaioapi20240613085649.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InventaioAPI20240613085649</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$InventaioAPI20240613085649</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>